<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyATCmjhRR-e67V2P-rvBjiUHNi_Dxdgmyc</string>
	<key>GCM_SENDER_ID</key>
	<string>139768892806</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.ecommercProject</string>
	<key>PROJECT_ID</key>
	<string>car-app-a2b7e</string>
	<key>STORAGE_BUCKET</key>
	<string>car-app-a2b7e.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:139768892806:ios:679f453a0dc3b18cbf3007</string>
</dict>
</plist>